#div1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    gap: 10px;
}


input{
    width: 300px;
    text-align: center;
    font-size: 20px;
    height: 30px;
    border-radius: 40px;
}


button{
    width: 100px;
    font-size: 20px;
    border-radius: 40px;
}


#div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}