
.item{
    height: 50px;
    width: 100px;
    border: 2px solid red;
    background-color: aqua;
}

/* align-items works on cross axis */
#container11{
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#container12{
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#container13{
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

#container14{
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    /* stretch */
}

#container15{
    margin-top: 20px;
    width: 220px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* by default flex-wrap is nowrap */
    /* items move to the next line if there is not enough space in main axis */
}

#container16{
    margin-top: 20px;
    width: 220px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap-reverse;
}

#container17{
    margin-top: 20px;
    width: 600px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
}

#item1_17{
    align-self: flex-end;
    /* center | flex-end | flex-start | baseline */
    /* have more priority than align-items */
}

#container18{
    margin-top: 20px;
    width: 800px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
}

#item2_18{
    flex-grow: 3;
    /* by default grow is 0 */
}

#item3_18{
    flex-grow: 2;
}

/* Total grow factor is 3
    Space is distributed in the ratio of grow factors
    Item 2 will take 1/3rd of the available space
    Item 3 will take 2/3rd of the available space
*/

#container19{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#item1_19{
    flex-shrink: 2;
    /* by default shrink is 1 */
}

#item4_19{
    flex-shrink: 3;
}

/* Total shrink factor is 8
   Space is distributed in the ratio of shrink factors
    Item 1 will get 2/8th of the negative space
    Item 4 will get 3/8th of the negative space
    Item 2 3 5 will get 1/8th of the negative space each
*/