
.box{
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 50%;
    border-top: 10px solid blue;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    /* animation-delay: 1s; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes spin {
    from{

    }
    to{
        transform: rotate(360deg);
    }
    
}